  # Submitted by Trishul Jain

# OPERATIONS ON LISTS

In [219]:
lst=["Trishul",21,"mechanical",[1,2,3],"bangalore","karnataka"]

In [220]:
type(lst[0])

str

In [221]:
lst.append("India")   #append

In [222]:
lst

['Trishul', 21, 'mechanical', [1, 2, 3], 'bangalore', 'karnataka', 'India']

In [223]:
lst[0]

'Trishul'

In [224]:
lst[3]

[1, 2, 3]

In [225]:
len(lst)       #length

7

In [226]:
lst.index("mechanical")    #value's index

2

In [227]:
lst2=["letsupgrade","bysai"]

In [228]:
lst2

['letsupgrade', 'bysai']

In [229]:
lst.extend(lst2)         #extend

In [230]:
lst

['Trishul',
 21,
 'mechanical',
 [1, 2, 3],
 'bangalore',
 'karnataka',
 'India',
 'letsupgrade',
 'bysai']

In [231]:
lst[3][1]    #accessing element

2

In [232]:
lst.remove("bangalore")      #removing a specified value

In [233]:
lst

['Trishul',
 21,
 'mechanical',
 [1, 2, 3],
 'karnataka',
 'India',
 'letsupgrade',
 'bysai']

In [234]:
lst.pop(4)      #popping the index's value

'karnataka'

In [235]:
lst

['Trishul', 21, 'mechanical', [1, 2, 3], 'India', 'letsupgrade', 'bysai']

# OPERATIONS ON DICTIONARY

In [236]:
dict={'name':'Trishul','surname':'jain','age':21,'major':'mechanical'}

In [237]:
dict

{'name': 'Trishul', 'surname': 'jain', 'age': 21, 'major': 'mechanical'}

In [238]:
dict['name']      #accessing name

'Trishul'

In [239]:
dict['passyear']=2021      #adding key-value pair

In [240]:
dict

{'name': 'Trishul',
 'surname': 'jain',
 'age': 21,
 'major': 'mechanical',
 'passyear': 2021}

In [241]:
dict.get('major')       #getting key's value

'mechanical'

In [242]:
del dict['age']        #deleting the key-value pair

In [243]:
dict

{'name': 'Trishul', 'surname': 'jain', 'major': 'mechanical', 'passyear': 2021}

In [244]:
dict.pop('passyear')   #popping & returning the key value

2021

In [245]:
dict

{'name': 'Trishul', 'surname': 'jain', 'major': 'mechanical'}

# OPERATIONS ON STRINGS

In [246]:
string='I love python'

In [247]:
string

'I love python'

In [248]:
string[0]    #accessing the index's character

'I'

In [249]:
string[-1]

'n'

In [250]:
string[1]

' '

In [251]:
string[2:6]    #String slicing

'love'

In [252]:
string[7:-4]

'py'

In [253]:
string='I love coding'   #updating entire string

In [254]:
string

'I love coding'

In [255]:
string1="student of \"letsupgrade\""     #escape sequence for double quotes

In [256]:
string1

'student of "letsupgrade"'

In [257]:
string="{} {} {}".format('I','am','Trishul')   #formatting of string

In [258]:
string

'I am Trishul'

In [259]:
string="{2} {0} {1}".format('I','am','Trishul')
string

'Trishul I am'

In [260]:
string1.count('e')    #counting number of times a character occured

3

# OPERATIONS ON TUPLES

In [261]:
tpl=(1,2,3,4,5,6,5,4,3,2,1)

In [262]:
tpl

(1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1)

In [263]:
tpl.count(5)    #return count of a value

2

In [264]:
lst=['completing','assignment','given','by','LetsUpgrade']
lst

['completing', 'assignment', 'given', 'by', 'LetsUpgrade']

In [265]:
tpl1=tuple(lst)               #conversion from list to tuple
tpl1

('completing', 'assignment', 'given', 'by', 'LetsUpgrade')

In [266]:
tpl1.index("LetsUpgrade")    #returns value'sindex

4

In [267]:
tpl2=(tpl,tpl1)      #nesting of 2 tuples
tpl2

((1, 2, 3, 4, 5, 6, 5, 4, 3, 2, 1),
 ('completing', 'assignment', 'given', 'by', 'LetsUpgrade'))

In [268]:
tpl=('LetsUpgrade', )    
tpl

('LetsUpgrade',)

In [269]:
tpl*3     #tuple with repetition

('LetsUpgrade', 'LetsUpgrade', 'LetsUpgrade')

In [270]:
a,b,c,d,e= tpl1   #unpacking of tuples
print(a)
print(b)
print(c)
print(d)
print(e)

completing
assignment
given
by
LetsUpgrade

In [271]:
tpl1[1:]      #removing 1st element

('assignment', 'given', 'by', 'LetsUpgrade')

In [272]:
tpl1[::-1]    #reversing the tuple

('LetsUpgrade', 'by', 'given', 'assignment', 'completing')

# OPERATIONS ON SETS

In [273]:
set1=set([1,2,3,4,5])   #set formed from a list
set1

{1, 2, 3, 4, 5}

In [274]:
set2=set()
print(set2)

set()

In [275]:
set2.add(6)            #adding of elements to a set
set2.add((7,8,9))
set2.add(10)
set2

{(7, 8, 9), 10, 6}

In [276]:
set1.update([6,7,8,9])    #updating set with multiple values

set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [277]:
1 in set1     #checking the presence of the specific element

True

In [278]:
set1.discard(4)      #discarding elements from the set
set1.discard(5)
set1

{1, 2, 3, 6, 7, 8, 9}

In [279]:
set1.discard(10)    #discarding without key error as 10 isn't present in the set
set1

{1, 2, 3, 6, 7, 8, 9}

In [280]:
set1.pop()     #popping & returning the last element of the set

1

In [281]:
set1

{2, 3, 6, 7, 8, 9}